.container {
  display: flex;
  flex-direction: column;
  width: 130px;
  font-size: 12px;
  line-height: 1px;
  
}

.btn-about {  
  width: 70px;
  height: 30px;
  text-align: center;
  border: 0px;
  border-radius: 20px;
  line-height: 1;
  font-size: 12px;
  background-color:rgba(86, 181, 184);
}

