.reviewcard-container {
  font-family: "Montserrat Regular";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 20px;
}

.reviewcard-photo img {
  /* position: absolute; */
  /* margin-top: 20px; */
  max-width: 100%;
  height: 50px;
}

.reviewcard-name {
  font-family: "Montserrat Medium";

}

.reviewcard-rating {
  font-family: "Montserrat Medium";
}
