.parallax-container {
  height: 600px;
}
.parallax-text {
  width: 50%;
  margin-top: 150px;
  margin-left: 135px;
  /* margin-bottom: -10px; */
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-family: "Montserrat Bold";
  line-height: 1.1;
}
.parallax-text p {
  margin-bottom: -13px;
}
.parallax-text-2 {
  margin-bottom: 30px;
  font-family: "Montserrat Light";
}
.bnt-buy {
  width: 220px;
  height: 55px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgb(215, 56, 242);
  /* border: 0px; */
  font-weight: 200;
  line-height: 3.05;
  font-size: 15px;
  /* color: rgb(0, 0, 0); */
  /* background-color: rgb(195, 0, 255); */
  font-family: "Montserrat Black";
  background:transparent;
}
.bnt-buy span {
  color: rgb(215, 56, 242);
}
.bnt-buy:hover {
  transform: scale(1.05);
  color: white; 
  transition: 0.4s ease-out;
  background: -webkit-linear-gradient(315deg, rgb(215, 56, 242) 31%, rgb(203, 113, 255));
  background: -moz-linear-gradient(315deg, rgb(215, 56, 242) 31%, rgb(203, 113, 255));
  background: linear-gradient(315deg, rgb(215, 56, 242) 31%, rgb(203, 113, 255));
}
.bnt-buy:hover span {
  color: white; 
}
