.allHomes_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 20px 20px 0;
}

.swiper_style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #aeafaf;
  max-height: auto;
  min-height: 350px;
  width: 100%;
  /* border-radius: 20px; */
}


.swiper-button-next,
.swiper-button-prev {
  color: rgba(253, 247, 247, 0.425);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(235, 235, 235, 0.815);
  transition: 100ms;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  transition: 500ms;
}

.allHomes_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
}
